.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  display: flex;
  height: 40px;
  padding: 10px;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--Default-Dark-Ash, #232323);
  background: var(--Default-Light-Black, #1e1e1e);
}
.header .wrap {
  display: flex;
  align-items: center;
}
.header .wrap .notification {
  padding: 0 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-left: 1px solid var(--Default-Dark-Ash, #232323);
  border-right: 1px solid var(--Default-Dark-Ash, #232323);
  cursor: pointer;
}
.header .wrap .profile-contain {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .wrap .profile-contain .profile-wrap {
  display: flex;
  height: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header .wrap .profile-contain .profile-wrap:hover {
  background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
}
.header .wrap .profile-contain .profile-wrap img.profile-img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header .wrap .profile-contain .profile-wrap p {
  color: var(--Default-Light-grey, #e6e6e6);
  font-family: Commissioner;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header .wrap .profile-contain .profile-modal {
  position: absolute;
  top: 35px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 470px;
  height: 298px;
  border: 1px solid var(--Default-Dark-Ash, #232323);
  background: var(--Default-Black, #1b1b1b);
  font-family: "Commissioner", sans-serif;
}
.header .wrap .profile-contain .profile-modal .left {
  display: flex;
  width: 250px;
  height: 100%;
  padding: 30px 30px 20px 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--Default-Dark-Ash, #232323);
  background: var(--Default-Dark-Ash, #232323);
}
.header .wrap .profile-contain .profile-modal .left h2 {
  font-family: "PT Mono", monospace;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
}
.header .wrap .profile-contain .profile-modal .left p {
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}
.header .wrap .profile-contain .profile-modal .left p span {
  color: var(--Brand-Gold, #dd9a38);
}
.header .wrap .profile-contain .profile-modal .left .count {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrap .profile-contain .profile-modal .left .count .txt {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  width: 100%;
}
.header .wrap .profile-contain .profile-modal .left .count .progress-container {
  position: relative;
  width: 40px;
  height: 40px;
}
.header .wrap .profile-contain .profile-modal .left .count .progress-arc {
  stroke: #dd9a38;
  stroke-width: 4;
  fill: none;
  stroke-linecap: round;
}
.header .wrap .profile-contain .profile-modal .left .count .progress-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Brand-Gold, #dd9a38);
  font-size: 11px;
  font-weight: 600;
}
.header .wrap .profile-contain .profile-modal .right {
  display: flex;
  width: 220px;
  padding: 40px 5px 5px 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
}
.header .wrap .profile-contain .profile-modal .right .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .wrap .profile-contain .profile-modal .right .content img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 15px;
}
.header .wrap .profile-contain .profile-modal .right .content h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.header .wrap .profile-contain .profile-modal .right .content p {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: lowercase;
}
.header .wrap .profile-contain .profile-modal .right .actions {
  width: 100%;
}
.header .wrap .profile-contain .profile-modal .right .actions a.action {
  display: flex;
  height: 32px;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}
.header .wrap .profile-contain .profile-modal .right .actions a.action:hover {
  background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
}
.header .wrap .profile-contain .profile-modal .right .actions a.action .wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .wrap .profile-contain .profile-modal .right .actions a.action .wrap p {
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
}
.header .wrap .profile-contain .profile-modal .right .actions .logout-container {
  border-top: 1px solid var(--Default-Dark-Ash, #232323);
  padding-top: 5px;
  margin-top: 5px;
}
.header .wrap .profile-contain .profile-modal .right .actions .logout-container .logout-action {
  width: 100%;
  display: flex;
  height: 32px;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.header .wrap .profile-contain .profile-modal .right .actions .logout-container .logout-action:hover {
  background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
}
.header .wrap .profile-contain .profile-modal .right .actions .logout-container .logout-action p {
  color: var(--System-Red, #fe5858);
  font-size: 11px;
  font-weight: 500;
  line-height: 100%;
}/*# sourceMappingURL=DashboardHeader.css.map */