header {
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 100;
}
header section {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header section .logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
}
header section .logo h1 {
  font-family: "Commissioner", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
header section nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
header section nav a {
  color: var(--Default-White, #f8f8f8);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  height: 12px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}
header section nav a.wrapped-link {
  position: relative;
  height: 16px;
  top: -3px;
}
header section nav a span {
  line-height: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
header section nav a span.wrap {
  display: flex;
  gap: 10px;
}
header section nav a:hover {
  transform: scale(1.08) rotate(1deg);
}
header section nav a:hover span:first-child {
  transform: translateY(-105%);
}
header section nav a:hover .hover-text {
  transform: translateY(-105%);
}
header section .action-btns {
  display: flex;
  align-items: items;
  gap: 10px;
}
header section .action-btns .modes {
  display: flex;
}
header section .action-btns .modes .btn-mode {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  height: 40px;
  width: 45px;
}
header section .action-btns .modes .btn-mode.light {
  background: var(--Brand-Gold, #dd9a38);
}
header section .action-btns .modes .btn-mode.dark {
  background: var(--Brand-Green, #3b5f5d);
}
header section .action-btns a.btn {
  display: flex;
  padding: 0px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 40px;
}
header section .action-btns a.btn .contain {
  height: 12px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}
header section .action-btns a.btn .contain.wrapped-link {
  position: relative;
  height: 16px;
  top: -3px;
}
header section .action-btns a.btn .contain span {
  line-height: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
header section .action-btns a.btn .contain span.wrap {
  display: flex;
  gap: 10px;
}
header section .action-btns a.btn .contain:hover {
  transform: scale(1.08) rotate(1deg);
}
header section .action-btns a.btn .contain:hover span:first-child {
  transform: translateY(-105%);
}
header section .action-btns a.btn .contain:hover .hover-text {
  transform: translateY(-105%);
}
header section .action-btns a.btn.yellow {
  background: var(--Brand-Gold, #dd9a38);
  color: var(--Default-Black, #1b1b1b);
  width: 124px;
}
header section .action-btns a.btn.green {
  background: var(--Brand-Green, #3b5f5d);
  width: 81px;
}/*# sourceMappingURL=Header.css.map */