header {
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 100;
  background: #111;
  transition: 0.3s all ease-in-out;
}
header.light-mode {
  color: #1b1b1b;
  background: var(--Default-Black, #f8f8f8);
}
header.light-mode .menu-mobile-container {
  background: var(--Default-Black, #f8f8f8);
}
header.light-mode .menu-mobile-container img.end {
  filter: invert(1);
}
header.light-mode .menu-mobile-container .nav-link {
  border-bottom: 1px dashed var(--Default-Dark-Ash, #e6e6e6);
  background: var(--Default-Black, #f8f8f8);
}
header.light-mode .menu-mobile-container .nav-link:first-child {
  border-top: 1px dashed var(--Default-Dark-Ash, #e6e6e6);
}
header.light-mode .menu {
  filter: invert(1);
}
header.light-mode .btn-mode:last-child img {
  filter: invert(0);
}
header.light-mode .action-btns .btn {
  color: #f8f8f8;
}
header.light-mode.scrolled {
  background: #f0f0f0;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
header.scrolled {
  background: #202020;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
header section {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header section .menu {
  display: none;
}
header section .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 10px;
  flex: 0.5;
}
header section .logo h1 {
  font-family: "Commissioner", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
header section nav {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 1;
  justify-content: center;
}
header section nav .nav-link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  height: 12px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  cursor: pointer;
}
header section nav .nav-link.wrapped-link {
  position: relative;
  height: 16px;
  top: -3px;
}
header section nav .nav-link span {
  line-height: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
header section nav .nav-link span.wrap {
  display: flex;
  gap: 10px;
}
header section nav .nav-link:hover {
  transform: scale(1.01);
}
header section nav .nav-link:hover span:first-child {
  transform: translateY(-105%);
}
header section nav .nav-link:hover .hover-text {
  transform: translateY(-105%);
}
header section .action-btns {
  display: flex;
  align-items: items;
  gap: 10px;
  justify-content: flex-end;
  flex: 0.5;
}
header section .action-btns .modes {
  display: flex;
}
header section .action-btns .modes .btn-mode {
  display: flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  height: 40px;
}
header section .action-btns .modes .btn-mode.light {
  background: var(--Brand-Gold, #dd9a38);
}
header section .action-btns .modes .btn-mode.dark {
  background: var(--Brand-Green, #3b5f5d);
}
@media (max-width: 575px) {
  header {
    height: 50px;
  }
  header section {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    position: relative;
  }
  header section .menu-mobile-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    background: #1b1b1b;
  }
  header section .menu-mobile-container .nav-link {
    display: flex;
    height: 50px;
    padding: 0px 5px 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px dashed var(--Default-Dark-Ash, #232323);
    background: var(--Default-Black, #1b1b1b);
    font-size: 12px;
    font-weight: 400;
  }
  header section .menu-mobile-container .nav-link:first-child {
    border-top: 1px dashed var(--Default-Dark-Ash, #232323);
  }
  header section .menu-mobile-container img.end {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.4;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 319px;
  }
  header section .menu {
    display: block;
  }
  header section .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
  }
  header section .logo .logo-img {
    width: 15px;
    height: 19px;
  }
  header section .logo h1 {
    font-family: "Commissioner", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }
  header section nav {
    display: flex;
    align-items: center;
    gap: 30px;
    display: none;
  }
  header section nav .nav-link {
    color: var(--Default-White, #f8f8f8);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    height: 12px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    cursor: pointer;
  }
  header section nav .nav-link.wrapped-link {
    position: relative;
    height: 16px;
    top: -3px;
  }
  header section nav .nav-link span {
    line-height: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  header section nav .nav-link span.wrap {
    display: flex;
    gap: 10px;
  }
  header section nav .nav-link:hover {
    transform: scale(1.01);
  }
  header section nav .nav-link:hover span:first-child {
    transform: translateY(-105%);
  }
  header section nav .nav-link:hover .hover-text {
    transform: translateY(-105%);
  }
  header section .action-btns {
    display: flex;
    align-items: items;
    gap: 5px;
  }
  header section .action-btns .modes {
    display: flex;
  }
  header section .action-btns .modes .btn-mode {
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 40px;
  }
  header section .action-btns .modes .btn-mode.light {
    background: var(--Brand-Gold, #dd9a38);
  }
  header section .action-btns .modes .btn-mode.dark {
    background: var(--Brand-Green, #3b5f5d);
  }
  header section .action-btns .btn {
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 40px;
    cursor: pointer;
  }
  header section .action-btns .btn.yellow {
    background: var(--Brand-Gold, #dd9a38);
    color: var(--Default-Black, #1b1b1b);
  }
  header section .action-btns .btn.green {
    display: none;
    background: var(--Brand-Green, #3b5f5d);
  }
}
@media (min-width: 992px) and (max-width: 1102px) {
  header section {
    max-width: 90%;
  }
  header section .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
  }
  header section .logo h1 {
    font-size: 18px;
  }
  header section nav {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  header section nav .nav-link {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    height: 10px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    cursor: pointer;
  }
  header section nav .nav-link.wrapped-link {
    position: relative;
    height: 16px;
    top: -3px;
  }
  header section nav .nav-link span {
    line-height: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  header section nav .nav-link span.wrap {
    display: flex;
    gap: 10px;
  }
  header section nav .nav-link:hover {
    transform: scale(1.01);
  }
  header section nav .nav-link:hover span:first-child {
    transform: translateY(-105%);
  }
  header section nav .nav-link:hover .hover-text {
    transform: translateY(-105%);
  }
  header section .action-btns {
    display: flex;
    align-items: items;
    gap: 10px;
  }
  header section .action-btns .modes {
    display: flex;
  }
  header section .action-btns .modes .btn-mode {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 30px;
  }
  header section .action-btns .btn {
    display: flex;
    padding: 0px 10px;
    font-size: 10px;
    height: 30px;
  }
  header section .action-btns .btn .contain {
    height: 10px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1280px) {
  header section {
    max-width: 90%;
  }
}/*# sourceMappingURL=Header.css.map */