.hero-section {
  width: 100%;

  section {
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    max-height: 900px;
    display: flex;
    align-items: center;
    border: 0.6px dashed var(--Default-Ash, #4c4c4c);
    position: relative;
    padding: 100px 60px;
    justify-content: space-between;

    img.pin {
      position: absolute;
      top: -1px;
      z-index: 10;

      &.top-right {
        right: -10.5px;
      }

      &.top-left {
        left: -10.5px;
      }
    }

    .left-content {
      width: 460px;
      padding: 70px 20px;

      h1 {
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;
        display: flex;
        align-items: center;
        color: #f8f8f8;
        margin-bottom: 30px;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #f8f8f8;
        font-family: "Commissioner", sans-serif;
        margin-bottom: 70px;
      }

      .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        gap: 10px;
        width: 204px;
        height: 40px;
        background: #dd9a38;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #1b1b1b;
        cursor: pointer;

        .contain {
          height: 13px;
          transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
          overflow: hidden;

          &.wrapped-link {
            position: relative;
            height: 16px;
            top: -3px;
          }

          span {
            line-height: 100%;
            display: flex;
            align-items: center;
            transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

            &.wrap {
              display: flex;
              gap: 10px;
            }
          }
        }

        &:hover .contain {
          transform: scale(1.08) rotate(1deg);
        }

        &:hover .contain span:first-child {
          transform: translateY(-105%);
        }

        &:hover .contain .hover-text {
          transform: translateY(-105%);
        }
      }
    }

    .right-content {
      width: 500px;
      display: grid;
      grid-template-columns: repeat(10, 50px);
      grid-template-rows: repeat(11, 50px);

      .grid-box {
        width: 50px;
        height: 50px;
        border-radius: 0;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
      }

      .highlight {
        border: 1px solid var(--Brand-Green-T, rgba(59, 95, 93, 0.3));
        cursor: pointer;

        &.active {
          &::before,
          &::after {
            background: var(--Brand-Green, #3b5f5d);
          }
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          width: 50%;
          background: var(--Brand-Gold, #dd9a38);
          transform: scaleX(0);
          transition: transform 0.4s ease-in-out, opacity 0.4s ease 0.8s;
          z-index: -1;
          opacity: 0;
        }

        &::before {
          left: 0;
          transform-origin: right;
        }

        &::after {
          right: 0;
          transform-origin: left;
        }

        &:hover::before,
        &:hover::after {
          transform: scaleX(1);
          opacity: 1;
          transition: transform 0.4s ease-in-out, opacity 0.4s ease;
        }
      }

      .glitch {
        background: repeating-linear-gradient(
          45deg,
          #f87171,
          #f87171 10px,
          #facc15 10px,
          #facc15 20px
        );
        animation: glitch 0.8s infinite alternate;
      }

      .gold {
        background-color: #f59e0b;
        box-shadow: 0 0 10px #fbbf24;
        transform: rotate(5deg);
      }

      @keyframes pulse-highlight {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.08);
        }
        100% {
          transform: scale(1);
        }
      }

      @keyframes glitch {
        0% {
          transform: translate(0px, 0px);
        }
        25% {
          transform: translate(2px, -1px);
        }
        50% {
          transform: translate(-1px, 2px);
        }
        75% {
          transform: translate(1px, -1px);
        }
        100% {
          transform: translate(0px, 0px);
        }
      }
    }
  }

  @media (max-width: 575px) {
    & {
      section {
        max-width: 100%;
        max-height: fit-content;
        height: fit-content;
        flex-direction: column-reverse;
        padding: 100px 53.5px;
        padding-bottom: 50px;

        .right-content {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(10, 28.3px);
          grid-template-rows: repeat(11, 28.3px);

          .grid-box {
            width: 28.3px;
            height: 28.3px;
            border-radius: 0;
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            z-index: 1;
          }
        }

        .left-content {
          width: 100%;
          padding: 0;
          margin-top: 100px;

          h1 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 38px;
            line-height: 27px;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 50px;
          }

          .btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 10px;
            gap: 10px;
            width: 180px;
            height: 40px;
            background: #dd9a38;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #1b1b1b;
            cursor: pointer;

            .contain {
              height: 13px;
              transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
              overflow: hidden;

              &.wrapped-link {
                position: relative;
                height: 16px;
                top: -3px;
              }

              span {
                line-height: 100%;
                display: flex;
                align-items: center;
                transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

                &.wrap {
                  display: flex;
                  gap: 10px;
                }
              }
            }

            &:hover .contain span:first-child {
              transform: translateY(-105%);
            }

            &:hover .contain .hover-text {
              transform: translateY(-105%);
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1102px) {
    & {
      section {
        max-width: 90%;
        padding: 50px 30px;

        img.pin {
          position: absolute;
          top: -1px;
          z-index: 10;

          &.top-right {
            right: -10.5px;
          }

          &.top-left {
            left: -10.5px;
          }
        }

        .left-content {
          width: 460px;
          padding: 70px 20px;

          h1 {
            font-weight: 400;
            font-size: 30px;
            line-height: 34px;
            display: flex;
            align-items: center;
            color: #f8f8f8;
            margin-bottom: 30px;
          }

          p {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #f8f8f8;
            font-family: "Commissioner", sans-serif;
            margin-bottom: 70px;
          }

          .btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 10px;
            gap: 10px;
            width: 204px;
            height: 40px;
            background: #dd9a38;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            color: #1b1b1b;
            cursor: pointer;

            .contain {
              height: 13px;
              transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
              overflow: hidden;

              &.wrapped-link {
                position: relative;
                height: 16px;
                top: -3px;
              }

              span {
                line-height: 100%;
                display: flex;
                align-items: center;
                transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

                &.wrap {
                  display: flex;
                  gap: 10px;
                }
              }
            }

            &:hover .contain {
              transform: scale(1.08) rotate(1deg);
            }

            &:hover .contain span:first-child {
              transform: translateY(-105%);
            }

            &:hover .contain .hover-text {
              transform: translateY(-105%);
            }
          }
        }

        .right-content {
          width: 500px;
          display: grid;
          grid-template-columns: repeat(10, 50px);
          grid-template-rows: repeat(11, 50px);

          .grid-box {
            width: 50px;
            height: 50px;
            border-radius: 0;
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            z-index: 1;
          }

          .highlight {
            border: 1px solid var(--Brand-Green-T, rgba(59, 95, 93, 0.3));
            cursor: pointer;

            &.active {
              &::before,
              &::after {
                background: var(--Brand-Green, #3b5f5d);
              }
            }

            &::before,
            &::after {
              content: "";
              position: absolute;
              top: 0;
              height: 100%;
              width: 50%;
              background: var(--Brand-Gold, #dd9a38);
              transform: scaleX(0);
              transition: transform 0.4s ease-in-out, opacity 0.4s ease 0.8s;
              z-index: -1;
              opacity: 0;
            }

            &::before {
              left: 0;
              transform-origin: right;
            }

            &::after {
              right: 0;
              transform-origin: left;
            }

            &:hover::before,
            &:hover::after {
              transform: scaleX(1);
              opacity: 1;
              transition: transform 0.4s ease-in-out, opacity 0.4s ease;
            }
          }

          .glitch {
            background: repeating-linear-gradient(
              45deg,
              #f87171,
              #f87171 10px,
              #facc15 10px,
              #facc15 20px
            );
            animation: glitch 0.8s infinite alternate;
          }

          .gold {
            background-color: #f59e0b;
            box-shadow: 0 0 10px #fbbf24;
            transform: rotate(5deg);
          }

          @keyframes pulse-highlight {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.08);
            }
            100% {
              transform: scale(1);
            }
          }

          @keyframes glitch {
            0% {
              transform: translate(0px, 0px);
            }
            25% {
              transform: translate(2px, -1px);
            }
            50% {
              transform: translate(-1px, 2px);
            }
            75% {
              transform: translate(1px, -1px);
            }
            100% {
              transform: translate(0px, 0px);
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      section {
        max-width: 90%;
      }
    }
  }
}
