.left-panel {
  top: 0px; /* Trigger recompilation */
  position: fixed;
  z-index: 101;
  left: 0;
  width: 200px;
  height: 100vh;
  border-right: 1px solid var(--Default-Dark-Ash, #232323);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform-origin: left;
  transition: 0.3s all ease-in-out;

  &.not-expand {
    width: 45px;

    .head {
      .logo {
        h1 {
          display: none;
        }

        .wrap-head {
          position: relative;

          img.side-bar-logo {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      img.side-bar {
        display: none;
      }
    }

    .links-container {
      width: 100%;

      a.link {
        p {
          display: none;
        }
      }

      .wallet-setup {
        justify-content: flex-end;

        &.collapse-active {
          height: 97px;
          background: var(--Default-White-T, rgba(248, 248, 248, 0.02));
          color: #e6e6e6;

          .wrap {
            margin-bottom: 15px;

            h2 {
              color: #e6e6e6;
            }
          }

          p {
            display: none;
          }

          button {
            border: 1px solid var(--Default-Dark-Ash, #232323);
            background: var(--Default-Black, #1b1b1b);
          }
        }

        .wrap {
          display: none;
        }

        p {
          display: none;
        }

        button {
          .txt {
            display: none;
          }
        }
      }

      .workspace-container {
        .workspace-link {
          position: relative;

          .wrap {
            p {
              display: none;
            }

            img {
              position: relative;
              right: -4px;
            }
          }

          img.more-icon {
            display: none;
          }
        }
      }
    }

    .yam-container {
      .wrap {
        h2 {
          display: none;
        }

        &.active {
          background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
        }

        &:hover {
          background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
        }
      }

      .yams {
        .yam {
          h2 {
            display: none;
          }
        }
      }

      .btn-contain {
        button {
          .row {
            display: none;
          }
        }
      }
    }
  }

  .head {
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid var(--Default-Dark-Ash, #232323);
    margin-bottom: 10px;

    .logo {
      display: flex;
      gap: 6px;
      align-items: center;

      h1 {
        color: var(--Default-White, #f8f8f8);
        font-family: "Commissioner", sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 100%;
      }
    }

    img.side-bar {
      cursor: pointer;
    }
  }

  .links-container {
    width: 100%;

    a.link {
      display: flex;
      height: 32px;
      padding: 5px 15px;
      align-items: center;
      gap: 10px;
      font-family: "Commissioner", sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;

      &.active {
        background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
      }

      &:hover {
        background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
      }
    }

    .wallet-setup {
      height: 159px;
      display: flex;
      padding: 10px 5px 5px 5px;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
      width: 100%;
      background: var(--Brand-Gold, #dd9a38);
      transition: 0.3s all ease-in-out;
      transform-origin: bottom;

      &.collapse-active {
        height: 97px;
        background: var(--Default-White-T, rgba(248, 248, 248, 0.02));
        color: #e6e6e6;

        .wrap {
          margin-bottom: 15px;

          h2 {
            color: #e6e6e6;
          }
        }

        p {
          display: none;
        }

        button {
          border: 1px solid var(--Default-Dark-Ash, #232323);
          background: var(--Default-Black, #1b1b1b);
        }
      }

      .wrap {
        width: 100%;
        padding: 0px 10px;
        padding-top: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        h2 {
          font-family: "Commissioner", sans-serif;
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          display: flex;
          align-items: center;
          color: #1b1b1b;
        }

        img {
          cursor: pointer;
        }
      }

      p {
        font-family: "Commissioner", sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #1b1b1b;
        opacity: 0.6;
        padding: 10px;
      }

      button {
        display: flex;
        height: 32px;
        padding: 5px 10px;
        align-items: center;
        gap: 10px;
        background: var(--Default-Black, #1b1b1b);
        color: var(--Default-White, #f8f8f8);
        font-family: "Commissioner", sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 100%;
        width: 100%;
        cursor: pointer;
      }
    }

    .workspace-container {
      width: 100%;
      border-top: 1px solid var(--Default-Dark-Ash, #232323);
      padding-top: 10px;
      position: relative;

      .workspace-link {
        width: 100%;
        display: flex;
        height: 36px;
        padding: 5px 9px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        cursor: pointer;

        .wrap {
          display: flex;
          align-items: center;
          gap: 7px;
          font-family: "Commissioner", sans-serif;
          font-size: 13px;
          font-weight: 600;
          line-height: 100%;
        }

        &.active {
          background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
        }

        &:hover {
          background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
        }
      }

      .drop-down {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 220px;
        padding: 8px 5px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        border: 1px solid var(--Default-Dark-Ash, #232323);
        background: var(--Default-Black, #1b1b1b);
        box-shadow: 0px 1px 2px 1px var(--Default-Dark-Ash, #232323);

        .workspace-row {
          width: 100%;
          display: flex;
          height: 36px;
          padding: 5px 9px;
          justify-content: space-between;
          align-items: center;
          flex-shrink: 0;
          background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));

          .wr {
            display: flex;
            align-items: center;
            gap: 7px;
            font-family: "Commissioner", sans-serif;
            font-size: 13px;
            font-weight: 600;
            line-height: 100%;
          }

          img.checkmark {
            filter: invert(1);
          }
        }

        .workspace-end {
          width: 100%;
          border-top: 1px solid var(--Default-Dark-Ash, #232323);
          padding-top: 10px;

          .wr {
            display: flex;
            height: 32px;
            padding: 5px 10px;
            align-items: center;
            gap: 10px;
            align-self: stretch;

            &:hover {
              background: var(
                --Brand-Transparent-Gold,
                rgba(221, 154, 56, 0.1)
              );
            }

            img {
              filter: invert(1);
            }

            p {
              font-family: "Commissioner", sans-serif;
              font-size: 13px;
              font-weight: 500;
              line-height: 100%;
            }
          }
        }
      }
    }
  }

  .yam-container {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid var(--Default-Dark-Ash, #232323);

    .wrap {
      display: flex;
      width: 100%;
      height: 36px;
      padding: 5px 15px;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      h2 {
        font-family: "Commissioner", sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 100%;
      }

      &.active {
        background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
      }

      &:hover {
        background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
      }
    }

    .yams {
      .yam {
        display: flex;
        height: 32px;
        padding: 5px 15px;
        align-items: center;
        gap: 10px;
        font-family: "Commissioner", sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 100%;
        cursor: pointer;

        &.active {
          background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
        }

        &:hover {
          background: var(--Brand-Transparent-Gold, rgba(221, 154, 56, 0.1));
        }
      }
    }

    .btn-contain {
      width: 100%;
      padding: 0 5px;
      padding-bottom: 5px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      button {
        display: flex;
        width: 100%;
        height: 40px;
        padding: 15px 10px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background: var(--Brand-Gold, #dd9a38);

        .row {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: "Commissioner", sans-serif;
          font-size: 13px;
          font-weight: 600;
          line-height: 100%;
          color: #1e1e1e;

          img {
            filter: invert(1);
          }
        }

        &.wordpress-btn {
          background-color: #21759b;
          
          .row {
            color: white;
            
            svg {
              path {
                fill: white;
              }
            }
          }
        }
      }
    }
  }
}
