.page-transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Assurez-vous que le composant CreateAnimation s'affiche correctement dans l'overlay */
.page-transition-overlay .success-container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
}
