section.what-if-section {
  width: 100%;

  &.light-mode {
    .content {
      border: 0.5px dashed var(--Default-Ash, #b8b8b8);
      background: radial-gradient(
          30.6% 44.87% at 100% 0%,
          var(--Brand-Gold, rgba(221, 154, 56, 0.1)) 0%,
          rgba(221, 154, 56, 0) 100%
        ),
        radial-gradient(
          28.38% 27.56% at 0% 100%,
          var(--Brand-Green, rgba(59, 95, 93, 0.1)) 0%,
          rgba(59, 95, 93, 0) 100%
        ),
        var(--Default-Black, #f8f8f8);

      color: #1b1b1b;

      img.pin {
        filter: invert(1);
      }
    }
  }

  .content {
    display: flex;
    padding: 120px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    border: 0.5px dashed var(--Default-Ash, #4c4c4c);
    background: radial-gradient(
        30.6% 44.87% at 100% 0%,
        var(--Brand-Gold, rgba(221, 154, 56, 0.1)) 0%,
        rgba(221, 154, 56, 0) 100%
      ),
      radial-gradient(
        28.38% 27.56% at 0% 100%,
        var(--Brand-Green, rgba(59, 95, 93, 0.1)) 0%,
        rgba(59, 95, 93, 0) 100%
      ),
      var(--Default-Black, #1b1b1b);

    position: relative;

    img.pin {
      position: absolute;
      bottom: -10.5px;
      z-index: 1;

      &.top-right {
        right: -10.5px;
      }

      &.top-left {
        left: -10.5px;
      }
    }

    h2 {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
    }

    p {
      font-family: "Commissioner", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      opacity: 0.5;
    }
  }

  @media (max-width: 575px) {
    & {
      overflow: hidden;

      .content {
        display: flex;
        padding: 50px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 60px;
        position: relative;

        h2 {
          font-weight: 700;
          font-size: 20px;
          line-height: 22px;
        }

        p {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}
