@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=PT+Mono&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #f8f8f8;
  font-family: "PT Mono", monospace;
}
